*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.5;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(6, 1fr);
}

header.search,
header.profile,
nav,
main,
aside {
  padding: 1rem;
}

header {
  border: #aa00ff solid 3px;
  grid-column: span 10;
  display: grid;
  grid-template-rows: 2fr 3fr;

  .search {
    border: #2266ff solid 3px;
  }

  .profile {
    border: #33ee88 solid 3px;
  }
}

nav {
  border: #ff9900 solid 3px;
  grid-column: span 2;
  grid-row: 1 / last;
  display: grid;
  grid-auto-rows: max-content;
  gap: 1rem;

  &>* { margin-block: 0 }
}

.nav-list {
  list-style-type: none;
  padding: 0;

  li,
  li * {
    color: #555555;
    text-decoration: none;

    &:hover { color: #000000 }
  }
}

main {
  border: #ff00bb solid 3px;
  grid-column: span 8;
  grid-row: span 5;
}

aside {
  border: #ff5555 solid 3px;
  grid-column: span 2;
  grid-row: span 5;
}